.body {
    font-family: "Open sans", sans serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.page-header {
    
}



.page-header_logo-img {
    width: 100%;
    height: 100%;
}



.main {

}



.page-header_user-btn {
    box-sizing: border-box;
    padding: 15px 40px;
    border: 1px solid #1f1e1e;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: #1f1e1e;
    text-decoration: none;
    background-color: transparent;
}

.home {
    padding-top: 147px;
}

.main-header_title,
.main-header_text {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: "Lora", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    color: #1f1e1e;
    
}
.main-header_title {
    margin: 0 0 70px;
}

.main-header_text {
    margin: 0 auto;
    max-width: 948px;
    width: 100%;
}

.main-header_picture {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 70px;
}

.main-header_picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 16.927%;

}

.main-header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-header {
    padding: 100px 0;
}

.events {
    padding-top: 147px;

}

.events__container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1414px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.events__title {
    align-self: center;
}

.title {
    margin: 0 0 150px;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    width: 100%;
    text-align: center;
    background-color: #1f1e1e;
    color: white;
    font-family: 'Lora';
    font-weight: 500;
}

.listing {
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;
}

.listing__card-event {
    max-width: 405px;
    width: calc(33.333% - 40px);
}


.card-event {
    box-sizing: border-box;
}

.card-event__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-event__link:hover .card-event__title {
    color: #A51505;
    text-decoration-color: #A51505;
}

.card-event__picture {
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.card-event__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.16%;
}

.card-event__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-event__title {
    margin: 0 0 auto;
    min-height: 64px;
     text-decoration: underline;
    text-decoration-color: transparent;
    font-size: 24px;
    font-family: 'Open sans';
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #1f1e1e;
    transition: color 0.2s, text-decoration-color 0.23s;
}


.card-event__text {
    font-family: 'Open Sans';
    margin: 15px 0;
    color: #1f1e1e;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.card-event__time {
    display: block;
    margin-top: auto;
    min-height: 19px;
    font-family: 'Open sans';
    font-size: 14px;
    font-weight: 300;
    color: #1f1e1e;
    
}

.page-footer {

}